.blog-post {
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: var(--base-border-radius);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.blog-post-title {
  margin: 1rem 0 0.5rem 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

.blog-post-sub-title {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.blog-post-sub-title span + span {
  margin-left: 0.8rem;
}

.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4,
.blog-post-content h5,
.blog-post-content h6 {
  width: fit-content;
  margin: 1em 0 0.5em 0;
  color: var(--primary-text-color);
  font-weight: bold;
}

.blog-post-content h2 {
  font-size: 26px;
}

.blog-post-content h3 {
  font-size: 22px;
}

.blog-post-content h4 {
  font-size: 20px;
}

.blog-post-content h5 {
  font-size: 18px;
}

.blog-post-content li,
.blog-post-content p {
  line-height: 1.8;
  text-align: justify;
}

.blog-post-content a {
  padding: 2px 3px;
  position: relative;
  z-index: 2;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  transition: var(--base-transition);
}

.blog-post-content a:hover {
  color: #fff;
}

.blog-post-content a::before {
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  border-radius: 0 5px 0 5px;
  background-color: var(--primary-light-color);
  transition: var(--base-transition);
}

.blog-post-content a:hover::before {
  top: 0;
}

.blog-post-content figcaption {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 5px;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1024px) {
  .blog-post-wrapper {
    grid-template-columns: 1fr;
  }
  .blog-post-aside {
    width: 100%;
    display: none;
  }
  .blog-post {
    padding: 2rem;
  }
}
